    <h2>Submit Refresh</h2>
    <p>Some explainer text.</p>

    <div>
        <pre>
            //todo
        </pre>
    </div>

<form action="/authorization-code/refresh" method="POST">
    <button type="submit">Exchange</button>
</form>