<div>State: {{state}}</div>
<div>Code: {{code}}</div>

<div>Exchange Call: {{exchange}}</div>
<form action="/authorization-code/callback" method="POST">
    <input type="hidden" value="{{code}}" id="code" name="code"/>
    <button type="submit">Exchange</button>
</form>