<div class="flow contained">
    <h2>An Error Occurred</h2>
    <p>{{message}}</p>

    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>
    <div>
        <a class="linkButton" href="/">Return</a>
    </div>
</div>
