<div class="flow">
    <div class="stage">
        {{#if hasIdentity}}
        <h1 class="stageheader">Identity</h1>
         <div class="stage-content">
             <pre>{{jwt access_token}}</pre>
             <a class="linkButton" href="/logout">Discard identity</a>
         </div>
        {{else}}
        <h1 class="stageheader">Get an Identity</h1>
        <div class="stage-content">
            <div class="stage-explainer">
                Select an identity type, different applications types use
                differnt OAuth grant types.
            </div>
            <div class="action-cards">
                <div class="action-card">
                    <div class="card-header">
                        User to Service
                    </div>
                    <div class="card-content">
                        <p>Create a token as user of this service to
                        authenticate to this and related services.</p>
                        <div class="card-action">
                        <a href="/authorization-code" class="linkButton">Begin</a>
                    </div>
                    </div>
                </div>
                <div class="action-card">
                    <div class="card-header">
                        Service to Service
                    </div>
                    <div class="card-content">
                        <p>Create a token with the identity of this service to authenticate to another.</p>
                        <div class="card-action"><a class="linkButton" href="/client-credentials">Begin</a></div>
                    </div>
                    
                </div>
            </div>
        </div>
        {{/if}}
    </div>
    
    {{#if hasIdentity}}
        <div class="stage">
            <h1>Validate the token</h1>

                <div class="stage-content">
                <div class="stage-explainer">
                    <p>Once you have a identity you can use the access token associated
                    with that identity to access resources.
                    </p>
                    <p>Any application recieving an access token should check
                    its validity, this can be done in two ways.</p>
                </div>
                <div class="action-cards">
                    <div class="action-card">
                        <div class="card-header">
                            Verify Token
                        </div>
                        <div class="card-content">
                            <p>Providing access tokens as JSON Web Tokens (JWTs)
                            allows for the verification of the token without calling
                            the IDP.</p>
                            <div class="card-action">
                            <a class="linkButton" href="/verify">Verify</a>
                        </div>
                        </div>
                    </div>
                    <div class="action-card">
                        <div class="card-header">
                            Introspect Token
                        </div>
                        <div class="card-content">
                            <p>An application can call the IDP to ensure that a
                            token has not been revoked.</p>
                            <div class="card-action"><a class="linkButton" href="/introspect">Introspect</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stage">
            <h1>Invalidate the token</h1>
                <div class="stage-content">
                <div class="stage-explainer">
                    <p>
                        Once an access token is no longer needed revocation can
                        be performed to invalidate that token.
                    </p>
                    <p>
                        After revocation validation will pass until the token 
                        expires but introspection will fail.
                    </p>
                </div>
                <div class="action-cards">
                    <div class="action-card">
                        <div class="card-header">
                            Revoke
                        </div>
                        <div class="card-content">
                            <p>Once an access token is no longer needed (the user
                            logs out) revocation can be performed to invalidate that
                            token.</p>
                            <div class="card-action"><a class="linkButton" href="/revoke">Revoke</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</div>