<h1>OAuth & OIDC by example</h1>


<div>
    <h2>Confidential Server Apps</h2>
    <a href="/authorization-code">AC</a>
</div>


<div>
<h2>Machine to Machine</h2>
<a href="/client-credentials">CC</a>
</div>
