<div class="flow contained">
    <h2>Token revocation</h2>
    <p>Token <span class="code">{{jti}}</span> has been revoked successfully.</p>

    <div class="hint">   
        <span class="hint-head"><i class="far fa-lightbulb"></i> Hint</span>
        <p class="hint-body">Now attempt to validate and introspect
        the token.</p>
    </div>

    <div>
        <a class="linkButton" href="/">Return</a>
    </div>
</div>
